.lobby-container {
  padding-top: 200px;
  width: 100%; }
  .lobby-container .lobby-content {
    margin: 0 auto;
    width: 100%;
    max-width: 400px; }
  .lobby-container .lobby-header {
    background: teal;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .lobby-container .lobby-header h2 {
      margin: 0;
      font-size: 22px;
      color: white; }
