.menu-container{
	padding-top:200px;
	.menu-content{
		margin:0 auto;
		width:100%;
		max-width:400px;
	}
	.menu-header{
		background:teal;
		height:50px;
		display:flex;
		align-items: center;
		justify-content: center;
		h2{
			margin:0;
			font-size:22px;
			color:white;
		}
	}
}