.menu-container {
  padding-top: 200px; }
  .menu-container .menu-content {
    margin: 0 auto;
    width: 100%;
    max-width: 400px; }
  .menu-container .menu-header {
    background: teal;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu-container .menu-header h2 {
      margin: 0;
      font-size: 22px;
      color: white; }
