.box-container {
  flex-grow: 1;
  flex-basis: 0;
  padding: 5px;
  display: flex; }
  .box-container .box-inner {
    background: silver;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .box-container .box-inner .box-content {
      font-size: 100px;
      color: teal;
      font-weight: bold; }
