.board-component {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:100px;
    .board-container {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        .board-row {
            display: flex;
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}